<launch>
  <node name="sendInfo" pkg="homework1" type="sendInfo"
        output="screen" launch-prefix="gnome-terminal -x sh -c" />
  <node name="receiveChangeInfo" pkg="homework1" type="receiveChangeInfo"
        output="screen" launch-prefix="gnome-terminal -x sh -c"/>
  <node name="printInfo" pkg="homework1" type="printInfo"
        output="screen" launch-prefix="gnome-terminal -x sh -c"/>
</launch>
